:$PORT
root * /usr/share/caddy
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

basicauth /$AUUID/* {
    $AUUID JDJhJDE0JDNNMGFLWUxUWkE1dUxJeEs5MURIWk96Yy82YlU3c0xOZWxGYlFBODdpcW50YlVxeFV4T095
}

@websocket_xms {
    header Connection *Upgrade*
    header Upgrade websocket
    path /$AUUID-xms
}
reverse_proxy @websocket_xms unix//etc/caddy/xms
